/* Main rules */
body{
    margin: 0;
    font-family:BlinkMacSystemFont,open_sanslight,"Helvetica Neue",Helvetica,Arial,sans-serif!important;

    background: rgb(239,239,239);
    background: linear-gradient(0deg, rgba(95,123,191,1) 0%, rgba(158,185,236,1) 52%, rgba(239,239,239,1) 100%);

    overflow: hidden;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.006em;
    min-height: 100vh;
}

.hidden{
    display: none !important;
}

button{
    border: none;
    background: transparent;
}

div.centered{
    max-width: 480px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    color: black;
    background: rgba(239, 239, 239, .8);
    padding: 2rem 1rem 2rem 2rem;
    text-align: center;
    line-height: 2rem;
}

/* Iframe container */
iframe#main_iframe,
div#main_iframe_container{
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Side and DTMF menu */
.side{
    background: linear-gradient(to left, #ddd, #fff);
    padding: 0.5rem;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

div#dtmf_menu{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 12rem;
}

div#dtmf_show_menu.side{
    background: linear-gradient(to right top, #ddd, #fff, #ddd);
    width: 23rem;
}
div#dtmf_show_menu.side button{
    width: 23rem;
    text-align: center;
    font-weight: bold;
}
div#dtmf_show_menu.side button span.right{
    font-style: italic;
}

div.dtmf_item{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    align-items: center;
    justify-content: center;

    width: 23rem;

    border-top: 1px solid black;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}
div.dtmf_item:first-child{
    border: none;
}
div.dtmf_item[data-content="tts"]{
    margin-top: 2rem;
}
div.dtmf_item[data-content="tts"].hide{
    display: none;
}

div#lock_icon{
    position: fixed;
    top: 1rem;
    width: 1rem;
    height: 1rem;
}

div#dtmf_menu_content{
    min-width: 23rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    top: 0;
    right: 0;
    width: 23rem;
    height: 100%;
    overflow: hidden;
    z-index: 999;
    transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
}

div[data-content="icon"]{
    width: 10%;
}
div[data-content="label"]{
    width: 80%;
}
div[data-content="dtmf"]{
    width: 10%;
    text-align: center;
    border: 1px solid #aaa;
    padding: 0.2rem 0 0.2rem 0;
}


/* IVR*/

div#ivr_container{
    z-index: 100;
}
.header-logo{
    width: 25%;
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
}

div#ivr_enter_room{
    display: flex;
    margin-top: 2rem;
}
div#ivr_enter_room span#loader{
    flex: 0 0 5%;
    padding-top: 0.5rem;
    margin-left: 0.5rem;
}
div#ivr_enter_room span#ivr_enter_room_label{
    background: #adadad;
    flex: 0 0 65%;
}
div#ivr_enter_room span#ivr_enter_room_button{
    flex: 1;
    background-color: #6c79b8;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 19px;
    outline: none;
    position: relative;
    z-index: 2;
    cursor: pointer;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);
    padding-top: 1px;
    max-width: 8rem;
    height: 3.1rem;
}
div#ivr_enter_room span#ivr_enter_room_button button{
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    font-size: large;
    height: 3.1rem;
    width: 100%;
    margin: 0;
    padding: 0;
}
div#ivr_enter_room span#ivr_enter_room_label{
    height: 3rem;
    border:none;
    box-shadow: -1px 2px 5px 1px rgb(0 0 0 / 30%);
}
div#ivr_enter_room span#ivr_enter_room_label input{
    border:none;
    width: 100%;
    height: 3rem;
    letter-spacing: 1em;
    padding-left: 1em;
}
div#ivr_enter_room span#ivr_enter_room_label input:focus-visible{
    border:none;
    outline:none;
}


#loader img{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* Errors */

div#error_container img{
    filter: invert(26%) sepia(17%) saturate(1301%) hue-rotate(182deg) brightness(95%) contrast(92%);
}
div#error_container span{
    font-size: larger;
    vertical-align: text-bottom;
    font-weight: bold;
    color: #35476b;
}


/* Keyframes */

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-110%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-110%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(-110%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}




@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}


/* Animations */

.show {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.hide {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
